name: Terraform AWS Infra

on:
  push:
    branches:
      - master
    paths:
      - terraform/**
      - .github/workflows/terraform.yaml
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ secrets.ACCOUNT_ID }}:role/${{ secrets.GITACT_AWS_ROLE }}
          aws-region: ap-south-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Terraform Init
        working-directory: terraform
        run: terraform init

      - name: Terraform Plan
        working-directory: terraform
        run: terraform plan -var "private_key_content=$(cat kubeinaws.pem)"

      - name: Terraform Apply
        working-directory: terraform
        run: |
          printf "%s" "${{ secrets.EC2_PEM }}" > kubeinaws.pem 
          chmod 600 kubeinaws.pem 
          
          terraform init
          terraform apply -auto-approve -var "private_key_content=$(cat kubeinaws.pem)"
